/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #080303;
    color: #333;
}

h1 {
    color: #444;
    text-align: center;
    margin-bottom: 20px;
    border: #007BFF;
}

h2 {
    color: #555;
}

.contenido {
    margin-top: 20px;
}

.descripcion {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 15px;
    border: 1px solid #ddd;
}

a {
    display: inline-block;
    padding: 12px 25px;
    color: #fff;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056b3;
}

.volver {
    margin-top: 30px;
    background-color: #333;
}

.volver:hover {
    background-color: #555;
}
