* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: url(./../imagenes/fondo_principal.web.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    

    
    
}
header {
    
    color: #CD5474;
    font-size: 150px;
    padding: 150px;
    text-align: left;
    background-image: url(./../imagenes/fotoprincipal.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    
    
}



h1 {
    color:#CD5474 ;
    text-align: center ;      
    font-size: 150px;
    
    
    

    
    
    
}
h2 {
    color: #CD5474;
    padding: 150px;
    border-radius: 60px;
    text-align: center;
    font-size: 150px;
    margin-bottom: auto;
    
    
    
}

p {
    font-size: 100px;
    color: #cecbcb;
    text-align: center;
    background-color: #CD5474;
    padding: 50px;
    border-radius: 80px;
    margin-bottom: auto;
    
    
   
   
    
}
nav {
    
    text-align: center;
    font-size: 100px;
    padding: 2%, 1%;
    

   
}
nav ul {
    list-style-type: none; 
    padding: 0; 
    margin: 30px;
    font-size: 100px;

}

nav li {
    margin-bottom: 10px; 
    padding: 50px;
    font-size: 100px;
    
    
}
nav a {
    text-decoration: none; 
    color: #cecbcb;   
    background-color: #CD5474; 
    border-radius: 30px;    
    padding: 20px;
}
.gustos {
    display: flex;
    justify-content: center;
    text-decoration:none;
    
}
.gusto {
    padding: 20px;
    color: #cecbcb;
    margin-bottom: 20px;
}

    
.imagenjuegos {
    width: 1600px;
    height: 2000px;
    padding: 20px;
    
}
.imagenmusica {
    width: 2000px;
    height: 2000px;
    padding: 50px;
}
.volver { 
    text-decoration: none;
    text-align: center;
    
    background-color: #CD5474;
    padding: 25px;
    border-radius: 60px;
    margin: 100px;
    color: #cecbcb;
    cursor: pointer;
    font-size: 100px;
    

}
.imahoobies {
    width: 3000px;
    height: 1600px;
    padding: 50px;
}
.imagenvertical{
    width: 1200px;
    height: 2000px;
    padding: 50px;  
}
.imagenamig{
    width: 3000;
    height: 1600px;
    padding: 50px;

}
.iconos {
    width: 200px;
    height: 200px;
    
    
}
footer {
    
    color: #cecbcb;
    text-align: center;
    font-size: 80px;
    text-decoration: none;
    margin-bottom: 60px;
    background-color: #CD5474;
    border-radius: 30px;
    padding: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    
}